.header {
  margin-bottom: 15rem;
  &-top {
    padding: 3.5rem 0;
  }
  &-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-control {
    display: flex;
    gap: 6rem;
    ion-icon {
      cursor: pointer;
      font-size: 3rem;
    }
  }
  &-phone {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        font-weight: 600;
      }
    }
  }
  &-bottom {
    margin-bottom: 2rem;
    position: relative;
  }

  &-background {
    margin-left: auto;
    max-width: 65%;
  }
  &-hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18.5%;
  }
  &-text-1 {
    font-size: 7rem;
    line-height: 1.2;
    font-weight: 600;
    color: $gray;
    letter-spacing: 1.2px;
  }
  &-text-2 {
    font-size: 15rem;
    font-weight: 700;
    margin-bottom: 4rem;
    color: $gray;
  }
  &-purchase {
    text-decoration: underline;
    color: $gray-light;
    font-weight: 600;
    font-size: 1.8rem;
  }

  &-menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 35rem;
    background-color: #ffffff;
    height: 100vh;
    z-index: 99;
    padding: 3rem;
    transform: translateX(100%);
    transition: all 0.2s ease-in;
    ion-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 3.5rem;
      cursor: pointer;
      z-index: 99;
    }
  }
  &-menu-wrap-active {
    transform: translateX(0);
  }

  &-menu {
    position: relative;
    padding-top: 3rem;
    li a {
      display: block;
      line-height: 1.6;
      padding: 10px 15px;
      font-size: 1.8rem;
      text-decoration: none;
      color: $gray;
      transition: all 0.2s ease-in;
      border-radius: 12px;
      margin-bottom: 5px;
      &:hover {
        background-color: $blue;
        color: white;
      }
    }

    .phone-on-menu {
      padding-left: 15px;
      padding-top: 30px;
    }
  }

  @media screen and (max-width: 991px) {
    &-text-1 {
      font-size: 4rem;
    }
    &-text-2 {
      font-size: 10rem;
      margin-bottom: 1rem;
    }
    &-purchase {
      font-size: inherit;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
    &-phone {
      display: none;
    }
    &-hero {
      left: 15px;
    }
    &-text-1 {
      font-size: 3rem;
    }
    &-text-2 {
      font-size: 6rem;
      margin-bottom: 1rem;
    }
    &-purchase {
      font-size: inherit;
    }
  }
}
